@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 0, 0, 0;
  --background-color: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #4bbd99;
    --background-color: #161529;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-color);
  background: var(--background-color)
}
